<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Change Quantity and Price</h1>
    <form action="/{{username}}/{{item.item}}/change/new" method="POST">
        <label for="new_quantity">Enter a new quantity of {{item['item']}}</label>
        <input type="number" min="1" name="new_quantity" value="{{item.quantity}}" required/>
        <label for="new_price">Enter a new price for {{item['item']}}</label>
        <input type="number" min="0.01" step="0.01" name="new_price" value="{{item.price}}" required/>
        <input type="submit" value="Change Quantity and Price"/>
    </form>
    
</body>
</html>