<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>Shopping List</h1>
    
    <form action="/add_item" method="POST">
        <input type="text" name="shopping_item" placeholder="Add an item"/>
        <input type="number" name="quantity" placeholder="quantity"/>
        <input type="number" step="0.01" name="price" placeholder="price per unit"/>
        <input type="submit" value="Add Item"/>
    </form>
    
    <ul>
        {% for item in items %}
        <form action="/{{item.item}}/remove" method="POST"><li>{{item.item}} x {{item.quantity}}: {{item.total}}</li><input type="submit"  name="remove" value="Remove"/></form>
        {% endfor %}
    </ul>
    
    <p>Total: {{total}}</p>
</body>
</html>